.footer-part {
    margin-top: 10vh;
    background-color: var(--primary-color);
}
.bottom-container {
    max-width: 1150px;
    max-height: 20vh;
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn.in-bottom, .logo {
    color: var(--btn-and-figure-color-primary);
}
.logo h2 {
    font-size: var(--heading-m-size);
}
.btn.in-bottom {
    border-radius: 28px;
    background: linear-gradient(to top, rgba(240,42,166,1) 40%, rgba(72,81,255,1) 100%);
    margin: 32px 0 32px 0;
    padding: 14px 32px;
}
@media screen and (max-width: 900px) {

}