.container {
  max-width: 1150px;
  min-height: 100vh;
  padding: 0 20px;
  margin: 0 auto;
}
.grid-container {
  display: grid;
  row-gap: 80px;
  column-gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.flex-container {
  border-radius: 15px;
  padding: 64px 32px 40px 32px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--btn-and-figure-color-primary);
  box-shadow: -10px 10px 30px 0 rgba(0, 0, 0, 0.2);
}
.flex-container:first-child {
  background: linear-gradient(
          0deg,
          rgba(240, 42, 166, 1) 30%,
          rgba(255, 111, 72, 1) 80%
  );
  color: var(--btn-and-figure-color-primary);
}
.flex-container p {
  padding: 24px 0 52px 0;
}
.s-logo {
  position: absolute;
  top: -28px;
}
.title-box {
  font-size: var(--heading-s-size);
  line-height: var(--heading-s-line);
}
.title-box:first-child {
  font-size: var(--heading-m-size);
  line-height: var(--heading-m-line);
}
.banner-wrapper > p {
  color: var(--paragraphs-color);
  font-size: var(--body-m-size);
  line-height: var(--body-m-line);
}
.btn.in-box {
  color: var(--btn-inside-box-color);
}
.btn.in-box:active {
  color: var(--btn-active-inside-box-color);
}
@media screen and (max-width: 900px) {
  .container {
    max-width: 689px;
    min-height: 100vh;
    padding: 0 30px;
    margin: 0 auto;
  }
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .flex-container {
    padding: 56px 32px 32px 32px;
  }
  .title-box:first-child {
    font-size: var(--heading-s-size);
    line-height: var(--heading-s-line);
  }
}
@media screen and (max-width: 600px){
  .container {
    padding: 0 16px;
  }
  .grid-container {
    display: block;
  }
  .flex-container {
    margin-top: 40px;
    padding: 56px 32px 32px 32px;
  }
  .flex-container:first-child {
    padding: 24px 28px 32px 28px;
  }
  .title-box:first-child {
    align-self: flex-start;
    justify-self: flex-start;
  }
}