* {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #13183f;
  --secondary-color: #666ca3;
  --paragraphs-color: #83869a;
  --btn-and-figure-color-primary: #fff;
  --btn-inside-box-color: #f74780;
  --btn-active-inside-box-color: #ffa7c3;
  --heading-xl-size: 3.5rem;
  --heading-l-size: 2.5rem;
  --heading-m-size: 2rem;
  --heading-s-size: 1.5rem;
  --body-m-size: 1.125rem;
  --body-s-size: 1rem;
  --heading-xl-line: 70px;
  --heading-l-line: 51px;
  --heading-m-line: 40px;
  --heading-s-line: 28px;
  --body-m-line: 28px;
  --body-s-line: 28px;
}
body {
  background: linear-gradient(
    45deg,
    rgba(70, 79, 247, 0.2) 4%,
    rgba(255, 255, 255, 1) 35%
  );
  overflow-x: hidden;
  position: relative;
}
.btn {
  font-size: var(--body-m-size);
  line-height: var(--body-m-line);
  font-weight: 700;
  text-decoration: none;
}
